$cyan: #CDFEFA;
$yellow: #EDF859;

.header {
  display: flex;
  padding: 1rem 3rem;

  #user-situation {
    display: flex;
    flex-grow: 1;
    align-items: center;
    p {
      font-size: 1.3rem;
    }
    #line {
      width: 0.15rem;
      height: 1.5rem;
      margin: 0 1rem;
      background-color: black;
    }
  }

  #logo-container {
    text-align: left;
    flex-grow: 1;
  }
}

.persian-title {
  //flex-direction: row;
  display: flex;
  justify-content: center;
  font-size: 2.5rem;

  #market-text {
    color: $cyan;
    text-shadow: 0 0.2rem 0.22rem rgb(0,0,0);
  }
  #digital-text {
    color: $yellow;
    text-shadow: 0 0.2rem 0.22rem rgb(0,0,0);
    margin-right: 0.5rem !important;
  }
}

.content {
  display: flex;
  height: 65%;
  padding-top: 4vh;
  .types {
    flex-grow: 1;
    text-align: right;
    font-size: 1.7rem;
    h2 {
      font-size: 2.5rem;
    }
    ul {
      list-style: none;
      width: fit-content;
      padding: 0;
      position: relative;

      #animationEl {
        position: absolute;
        display: flex;
        background-color: $cyan;
        border-radius: 0.6rem 0 0 0.6rem;
        visibility: visible;
        top: 0;
        width: 6rem;
        height: 2.5rem;
        z-index: 1;
      }

      li {
        width: fit-content;
        padding-left: 0.5rem;
        display: flex;
        margin: 0.5rem 0;
        p {
          z-index: 2;
        }
        p:hover {
          text-decoration: none;
          color: #000 !important;
          text-shadow: 2px 0 0 $cyan, -2px 0 0 $cyan, 0 2px 0 $cyan, 0 -2px 0 $cyan, 1px 1px $cyan, -1px -1px 0 $cyan, 1px -1px 0 $cyan, -1px 1px 0 $cyan;
          cursor: pointer;
        }
        .arrow {
          width: 1.2rem;
          margin: 0 0.3rem;
          z-index: 2;
        }
        .invisible {
          opacity: 0;
        }
        .visible {
          opacity: 1 !important;
        }
      }
      .active{
        background-color: $cyan;
        border-radius: 0.6rem 0 0 0.6rem;
      }
    }
  }
  .slider {
    height: 100%;
    position: relative;
    border-radius: 0 30px 30px 0;
    background-color: #F2F233;
    box-shadow: 5px 5px 6px rgba(242,242,51,0.74);
    flex-grow: 6;

    .slide {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-around;
      width: 20vw;
      height: 100%;
      position: absolute;
      left: 39.5vw;
      #img-product {
        height: 80%;
        text-shadow: 0 0.2rem 0.22rem rgb(0,0,0);
        //box-shadow: 5px 5px 6px rgba(0,0,0 ,1);
        filter: drop-shadow(2vh 1vh 10px rgba(0,0,0,0.56));

      }
      .market-btn {
        background-color: #01E1CA;
        font-size: 1.5rem;
        padding-top: 0;
        padding-bottom: 0;
        color: black;
        border-color: #01E1CA;
        box-shadow: 2px 3px 6px rgba(0,0,0,0.53);
        width: 13rem;
      }
    }
  }
}