html {
  direction: rtl;
  height: 100vh;
  /*font-size: 15px;*/
}

body, #root {
  height: 100%;
  color : #000;
}
.App {
  margin: 0!important;
  height: 100%;
  background-attachment: fixed;
  background-image: linear-gradient(125deg, #CDFEFA 44.2vw, #EDF859 0);
  text-align: center;
}
p {
  margin: 0 !important;
}

a {
  color: black !important;
}

/* responsive background*/
@media screen and (max-width: 1800px) {
  .App {
    background-image: linear-gradient(125deg, #CDFEFA 44.5vw, #EDF859 0);
  }
}
@media screen and (max-width: 1600px) {
  .App {
    background-image: linear-gradient(125deg, #CDFEFA 45vw, #EDF859 0);
  }
}
@media screen and (max-width: 1350px) {
  .App {
    background-image: linear-gradient(125deg, #CDFEFA 45.7vw, #EDF859 0);
  }
}

/* responsive page*/
@media screen and (max-height: 700px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 992px) {
  html {
    font-size: 10px !important;
  }
  .App {
    background-image: linear-gradient(125deg, #CDFEFA 45.4vw, #EDF859 0);
  }
}
